aclocal.m4
admin/
apue/
autom4te.cache/
.comments/
config.h.in
configure
duf_db
*.env
files*.txt
.git.2013*/
install/
install.sh/
*.jpg
libxml2-example.c
log/
Makefile.in
pthe
pthe.c
saved/
.*.sw*
templates/
testx/
*.tmp
tmp/
try/
*.zip
